<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form practice</title>
</head>
<body>
<form method="POST">
    Title:        <input type="text" name="title" required /> <br>
    Teacher ID:   <input type="number" name="teacher_id" required /> <br>
    Students IDs: <input type="text" name="students_ids" placeholder="1,2,3" /> <br>

    Description: <br>
    <textarea name="description" rows="10" cols="40"></textarea> <br>

    <input type="submit" value="CREATE" /> <br>
</form>
</body>
</html>